body {
  line-height: 1.5em;
  font-size: 15px;
  font-family: helvetica, arial, freesans, clean, sans-serif; }

code {
  background: #e0e0e0; }

h2, h3, h4, h5, h6 {
  color: #111111; }

h1 {
  border-bottom: 1px solid #333333;
  display: block;
  font-size: 1.6em;
  width: 100%;
  font-weight: bold; }

h2 {
  font-size: 1.4em;
  font-weight: bold;
  border-bottom: 1px solid #333333; }

h3 {
  font-size: 1.2em;
  font-weight: bold; }
  h3 a {
    text-decoration: none; }

p.title {
  color: #111111;
  font-size: 2em;
  margin-bottom: 0.75em;
  font-weight: bold; }

#header {
  align: center;
  background-color: #6ca1cb;
  padding-top: 20px;
  min-width: 950px;
  height: 80px;
  margin: 0;
  border-bottom: 4px solid #5e8fbb;
  margin-bottom: 20px; }
  #header .inner {
    width: 870px;
    margin: 0 auto; }
  #header .right {
    float: right;
    color: black;
    padding-right: 10px; }
  #header p.title {
    font-size: 2.4em;
    line-height: 1;
    margin-bottom: 0.5em; }
    #header p.title a {
      color: #111111;
      text-decoration: none; }

#sidebar {
  margin-top: 0;
  font-size: 0.8em; }
  #sidebar h4 {
    margin-bottom: 0.75em; }

.box {
  padding: 0.8em; }
  .box p.title {
    font-size: 1.2em;
    font-height: bold;
    padding-bottom: 10px; }
  .box p.last {
    font-size: 1em;
    font-height: normal;
    line-height: 1.5em; }

.CodeRay .no {
  display: none; }
.CodeRay pre {
  font-size: 0.9em;
  line-height: 1.4em; }

#footer_wrapper {
  background-color: #5e8fbb; }

#footer_inner_wrapper #border {
  border-top: 4px solid #6ca1cb; }
  #footer_inner_wrapper #border .inner {
    background-color: #5e8fbb;
    color: white;
    width: 870px;
    margin: 0 auto;
    text-align: center; }
